<div class="card">
    <h3 class="card-header">Create New Post</h3>
    <form class="card-body new-post-form" id="new-post-form">
        <a class="btn justify-content-center" href="/post" role="button">Create!</a>
    </form>
</div>